.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2E6; 
    background-image: url('/images/back.jpg');
  
}

.login-container {
    text-align: center;
    width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius:20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #b3b4ad;
    color: white;
}


