.badge.bg-warning {
    background-color: #748D8C !important; 
    color: #fff; 
    padding: 5px 10px; 
    margin: 5px; 
}

.badge.bg-success {
    background-color: #473366 !important; 
    color: #fff; 
    padding: 5px 10px; 
    margin: 5px; 
}

.table.table-success.table-striped tbody tr:nth-child(odd) {
    background-color: #FD6E28; 
    color: #fff; 
    padding: 10px; 
}

.table.table-success.table-striped tbody tr:nth-child(even) {
    background-color: #B3B4AD; 
    color: #000; 
    padding: 10px;
}

.table.table-success.table-striped thead {
    background-color: #473366; 
    color: #fff; 
    padding: 12px; 
}

.btn-danger {
    background-color: red !important; 
    border: none;
    padding: 10px 20px; 
    margin: 3px; 
}

.Report-filters-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    margin-bottom: 14px; 
}

.Report-filters-container .form-select {
    margin-left: auto; 
    width: 200px;
    padding: 2px; 
    margin: 2px; 
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0; 
}

.custom-table th {
    background-color: #333333;
    color: #ffffff;
    padding: 9px; 
    text-align: center;
    border: 1px solid white; 
}

.custom-table td {
    padding: 12px; 
    text-align: left;
    color: white;
}

.custom-table tr:nth-child(odd) {
    background-color: #636363; 
}

.custom-table tr:nth-child(even) {
    background-color: #B3B4AD; 
}

