.navbar-container {
    position: fixed;          
    top: 0;
    left: 0;                
    height: 100vh;           
    width: 220px;            
    display: flex;
    flex-direction: column;  
    background-color:  #B3B4AD ; 
    padding-top: 1rem;       
    text-align: center;
}

.navbar-container .btn {
    margin: 0.5rem auto;   
    width: 70%;                
    text-align: center;       
    border: none;
    background-color: #6c757d; 
    color: white; 
    padding: 10px 20px;  
    font-size: 1.2rem; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-container .btn:hover {
    background-color: #FD6E28; 
    color: white;
}

.navbar-container .btn:focus {
    outline: none;
}

.navbar-container .btn-dark {
    background-color: #FD6E28; 
    color: white;
}

.navbar-container .btn-outline-secondary {
    background-color: #1b3b5a86;
    color: white; 
    border-radius: 5px;

}

.navbar-container .btn-outline-secondary:hover {
    background-color: #FD6E28; 
}

.logout-btn {
    background-color: red;
    margin: 0.5rem auto;   
    width: 70%;                
    text-align: center;       
    border: none;
    color: white; 
    padding: 10px 20px;  
    font-size: 1.2rem; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 12px;
}