.header-container {
    width: 100%;
    padding: 20px;
    text-align: right; 
    background-color: #ada8a7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.header-container img {
    width: 300px; 
    height: auto; 
}
